.card{
    height: 400px;
    width: 205px;
    background-color: var(--transp);
    color: white;
    border-radius: 20px;
   
    
}
.imagen{
    height: 150px;
    width: 200px;
    color: white;
    display:flex;
    align-items:flex start;
    justify-content: space-around;
}
.but3{
    width: 50px;
    height:34px;
    background-color: red;
    color: rgb(246, 246, 246);
    font-size: 20px;
}
.type{
    height: 20px;
    width: 200px;
    color: white;
    text-align: center;
    font-size: 10px;
    font-family:var(--letra);
  
}

.title{
    height: 60px;
    width: 200px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family:var(--letra);
    
}
.contenido{
    height:70px ;
    width:200px;
    color: white;
    font-family:var(--letra)}
.price{
    height:40px ;
    width: 40px;
    border: 1px solid white;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    font-family:var(--letra)}
.but{
    width: 200px;
    height:34px;
    border-radius: 20px;
    background-color: white;
    font-family:var(--letra);
    border: 1px solid white;
    transition: 3s;
}
    .but:hover{
        background-color:var(--oscuro) ;
        color: white;
        transition: 3s;
    }
.but2{
    width: 200px;
    height:34px;
    border-radius: 20px;
    background-color:var(--oscuro);
    color: white;
    border:1px solid white;
    font-family: var(--letra);
    transition: 3s;
}
    .but2:hover{
        background-color: rgb(255, 253, 253, 0.9) ;
        color: black;
        transition: 3s;
    }
.portad{
    max-height: 100%;
    max-width: auto;
    flex-direction: r;
    align-items: center;

}
p{
    color: white;
    font-family:var(--letra)}