<div class="bgColor">
    <div class="contentX">
        <div class="marginX"></div>
        <div class="contentY">
            <div class="marginY"></div>
            <div class="card">
                <div class="user">
                            <div class="marginY_"></div>
                            <div class="userPrint">
                                <div class="marginX_"></div>
                                <div class="datos">
                                    <div class="photo"><img src="{{user?.photo}}" alt=""></div>
                                        <div class="contain0">{{user?.name}} {{user?.last_name}}
                                        </div>
                                    <div class="dat">
                                        <div class="contain1"></div>
                                    </div>
                                    <div class="dat">
                                        <div class="contain1" style="color: white;" >Nombre</div>
                                        <div class="contain">{{user?.name}}
                                            <div class="minimarg"></div>
                                           </div>
                                    </div>
                                    <div class="dat">
                                        <div class="contain1" style="color: white;">Apellido</div>
                                        <div class="contain">{{user?.last_name}}
                                            <div class="minimarg"></div>
                                           </div>
                                    </div>
                                    <div class="dat">
                                        <div class="contain1">Email</div>
                                        <div class="contain">{{user?.email}}
                                            <div class="minimarg"></div>
                                            </div>
                                    </div>

                            </div>
                     </div>
                </div>
                <div class="marginC"></div>
                <div class="editUser">
                    <div class="user">
                        <div class="marginY_"></div>
                        <div class="userPrint">
                            <div class="marginX_"></div>
                            <div class="datos">
                                    <div class="contain0">Editar Datos</div>
                                <div class="dat">
                                    <div class="contain1">Nombre</div>
                                    <input type="text"  [(ngModel)]="name" #iname>
                                </div>
                                <div class="dat">
                                    <div class="contain1">Apellido</div>
                                    <input type="text" [(ngModel)]="last_name" #ilastname>
                                </div>
                                <div class="dat">
                                    <div class="contain1">Email</div>
                                    <input type="text" [(ngModel)]="email" #iemail>
                                </div>
                                <div class="dat">
                                    <div class="contain1">Foto de perfil</div>
                                    <input type="text" [(ngModel)]="photo" #iphoto>
                                </div>
                                <div class="dat">
                                    <div class="contain1">password</div>
                                    <input type="text" [(ngModel)]="password" #ipassword>
                                </div>
                                
                                <div class="marginX_"><button (click)=cambiardatos(iname,ilastname,iemail,iphoto,ipassword)>CAMBIAR DATOS</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
</div>
