.bgColor{
    background-color: black;
    height: 88vh;
    width: 100vw;  
}
.contentX{
    height: 88vh;
    width: 100vw;
    background-image:url("/assets/Picsart_23-05-22_16-24-09-895.png");
    background-size:75% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 80px;
    display: flex;
    flex-direction: row;
  
}
.marginX{
    height: 88vh;
    width: 400px;
    
    
    

}
.contentY{
    height:88vh;
    width: 1080px;
    
   


}
.marginY{
    height:180px;    
    width: 1080px;
   
   
    
}
.card{
    height: 530px;    
    width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   
}

.user{
    height: 530px;
    width: 500px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0,0.8);
    border-radius: 20px;
}

.marginY_{
    height: 530px;
    width: 75px;
    
    
   
}
.userPrint{
    height: 530px;
    width: 350px;
    
    
    
}
.marginX_{
    height: 50px;
    width: 350px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    
}
.datos{
    height: 430px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
     
}
.photo{
    height: 150px;
    width: 150px;  
}
.dat{
    height: 20px;
    width: 300px; display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}
.contain0{
    height: 40px;
    width: 300px;
    border: 5px solid white;
    border-style:double;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-around;
    font-size: xx-large;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contain1{
    height: 20px;
    width: 100px;
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contain{
    height: 20px;
    width: 200px;
    border: 1px solid white;
    color: white;
    text-align:justify;
    align-items:flex start;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.minimarg{
    height: 20px;
    width: 5px;
}

.editUser{
    height: 530px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
img{
    max-width: 100%;
    max-height: auto;
}
input{
    height: 20px;
    width: 150px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
    height: 100px;
    width: 300px;
    background-color: black;
    border:1px solid white;
    color: white;
    font-size: xx-large;
    border-radius: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


