.header{
    height: 80px;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction:row; 
    align-items:center;
    align-content: center; 
    justify-content: space-around; 
}




a{
    text-decoration: none; 
}
.nav{
    color: white;
    border: 1px solid white;
    height: 100px;
    width: 200px;
    text-align: center;
    align-content: center;
    font-size: 30px;
    justify-content: center; 
    
}