.header{
    height: 80px;
    width: 100vw;
    background-color:var(--oscuro);
    display: flex;
    flex-direction:row; 
    align-items:center;
    align-content: center; 
    justify-content: space-around; 
}




a{
    text-decoration: none; 
}
.nav{
    color: white;
    border-bottom: 1px solid white;
    border-left:1px solid white ;
    border-right:1px solid white ;
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-direction: column;
    justify-content:space-around;
    transition: 4s;
    
}
 .nav:hover{
    
    height: 250px;
    width: 200px;
    display: flex;
    color: white;
    transition: 4s;
    
 }
h1{
    font-family:var(--letra)
}
