.fondo{
    height: 88vh;
    width: 100vw;
    background-image:url("/assets/Picsart_23-05-22_16-24-09-895.png");
    background-size:75% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 80px;
    display: flex;
    flex-direction: column;
    background-color:var(--oscuro);
    align-items: center;
    justify-content: flex-end;
}

.margen{
    height: 70vh;
    width: 70vw;   
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;  
}

.inputs{
    height:6vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family:var(--letra)
}

p{
    color: white;
    font-family:var(--letra)
}
input{
    height: 25px;
    width: 400px;
    background-color: var(--oscuro);
    color: white;
    text-align: center;
    border-radius: 20px;
    border: 1px solid white;
}
.but{
    width: 200px;
    height:34px;
    border-radius: 20px;
    background-color: var(--oscuro);
    color: white;  
    border: 1px solid white;
    font-family: var(--letra);
    transition: 3s;
}
    .but:hover{
        background-color: rgb(255, 253, 253, 0.9) ;
        color: black;
        transition: 3s;
    }

