.footer{
    height: 40px;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction:row; 
    align-items:flex;
    align-content: center; 
    justify-content: space-around; 
    text-align: center;
}




a{
    text-decoration: none; 
}
.red{
    color: white;
    border: 1px solid white;
    height: 40px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:space-around; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 15px;
}