.portada{
    height: 88vh;
    width: 100vw;
    background-color: var(--oscuro);
    text-align: center;
    align-items: center;
}
.txt{
    color: white;
    font-size: 100px;
    font-family:var(--letra)}
img{
    max-width: auto;
    max-height: 60%;
}