<div class="fondo">
    <div class="formulario">
        <div class="headform"><h1>MODIFICAR LIBROS</h1></div>
        <div class="inputs">
            <p>ID.BOOK</p>
            <input type="number" #input0>
            <p>ID.USER</p>
            <input type="number" #input1>
            <p>TITULO</p>
            <input type="text" #input2>
            <p>ESTILO</p>
            <input type="text" #input3>
            <p>AUTOR</p>
            <input type="text" #input4>
            <p>PRECIO</p>
            <input type="number" #input5>
            <p>IMAGEN</p>
            <input type="text" #input6>
            <button class="but">MODIFICAR</button>
            
        </div>
    </div>
</div>
