<div class="fondo">
    <div class="formulario">
        <div class="headform"><h1>MODIFICAR LIBROS</h1></div>
        <div class="inputs">
            <p>TITULO</p>
            <input type="text" #input0 [value]="updatedbook?.title">
            <p>TIPO</p>
            <input type="text" #input1 [value]="updatedbook?.type">
            <p>AUTOR</p>
            <input type="text" #input2 [value]="updatedbook?.author">
            <p>PRECIO</p>
            <input type="number" #input3 [value]="updatedbook?.price">
            <p>IMAGEN</p>
            <input type="text" #input4 [value]="updatedbook?.photo">
            <p>ID</p>
            <input type="number" #input5 [value]=" updatedbook?.id_book">
            <button >Buscar</button>
            <button >MODIFICAR</button>
            
        </div>
    </div>
</div>
<!-- botones para buscar y modificar -->
<!-- class="but" (click)="search(+input5.value)"
class="but" (click)="updateBook(input0.value,input1.value,input2.value,input3.value,input4.value,input5.value)" -->
