<div class="formulario">
    <div class="head"></div>
    <div class="formin">
        <h3 class="inf">NOMBRE COMPLETO</h3> 
        <input class="inp" type="text"><br>
        <h3 class="inf">CORREO ELECTRONICO</h3>
        <input class="inp" type="text"><br>
        <h3 class="inf">CONTRASEÑA</h3>
        <input class="inp" type="text"><br>
        <h3 class="inf">REPITA LA CONTRASEÑA</h3>
        <input class="inp" type="text"><br>
        <h3 class="inf">DIRECCION</h3>
        <input class="inp" type="text"><br>
    </div>
    <div class="foot"></div>
</div>
